.CV {
  background-color: white;
  display: grid;
  grid-template-areas:
    "About"
    "Contact"
    "Education"
    "Education"
    "Education"
    "Education"
    "Experience"
    "Experience"
    "Experience"
    "Experience";
  min-width: 21cm;
  min-height: 29.7cm;
  border-radius: 20px;
  font-family: "Ubuntu", sans-serif;
}

input {
  border: 0;
  display: block;
  font-size: 100%;
  font: inherit;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #449399;
  margin-bottom: -2px;
  background-color: transparent;
  color: white;
}

.About {
  grid-area: About;
  background-color: #313c4e;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}

.About .fullName {
  font-size: 2.3rem;
  margin-bottom: 0.3rem;
}

.About .job {
  font-size: 1.2rem;
  color: #449399;
  margin-bottom: 1rem;
}

.Contact {
  grid-area: Contact;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #222a33;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.Contact > * {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 50%;
  overflow: hidden;
}

.Education {
  grid-area: Education;
  padding-left: 2rem;
  padding-right: 2rem;
}

.Experience {
  grid-area: Experience;
  padding-left: 2rem;
  padding-right: 2rem;
}
