@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ffffff;
  --secondary-color: #449399;
  --secondary-alt-color: #313c4e;
  --secondary-alt-dark-color: #222a33;
  --website-bg-color: #1a1f26;
  --a4-page-width: 21cm;
  --a4-page-height: 29.7cm;
}
